.page__container {
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-columns: 100%;
    grid-template-rows: 31% 66% 4%;
    height: 1800px;
    margin: 0 auto;
    width: 50vw;
}
