.hero {
    &__wrapper {
        align-items: center;
        background: inherit;
        background-position: 19% 35%;
        background-size: 260%;
        display: flex;
        flex-flow: row wrap;
        grid-area: headerContent;
        justify-content: center;
        overflow: hidden;
        position: relative;
        z-index: 0;

        &:after {
            background: inherit;
            box-shadow: inset 0 0 0 2000px rgba(51, 51, 51, 0.3);
            content: "";
            filter: blur(10px);
            height: 105%;
            left: -5%;
            position: absolute;
            top: -5%;
            width: 105%;
            z-index: -1;
        }
    }

    &__title {
        display: flex;
        flex-flow: column wrap;
        font-size: 0.9em;
        font-weight: 300;
        margin: 0;

        &--highlight {
            font-size: 3em;
            font-weight: 700;
            margin: 0;
        }
    }

    &__text {
        margin: 0;
    }

    &__layout {
        align-content: space-between;
        display: flex;
        flex-flow: row wrap;
        height: 80%;
        padding: 5%;
    }
}


.more__info__link {
    color: $white;
    width: 100%;

    &:visited {
        color: $white;
    }
}

.verdict {
    color: $white;
    margin: 0;
    text-transform: capitalize;
}

.fa-wikipedia-w {
    padding-right: 1%;
}

.button {
    &__container--hero {
        align-self: flex-end;
        border: none;
        color: $white;
        padding: 0.7em;
        width: 50%;

        &:hover {
            cursor: pointer;
        }
    }

    &__color {
        &--thumbUp {
            background-color: rgba($aquamarine, $alpha: 0.5);
            font-size: 1.5em;
        }
        &--thumbDown {
            background-color: rgba($yellow, $alpha: 0.5);
            font-size: 1.5em;
        }
    }
}

@media (min-width: $breakpointMobile) {
    .hero {
        &__wrapper {
            align-self: center;
            height: 80%;
            justify-self: center;
            width: 60%;
        }
    }
}

@media (min-width: $breakpointTablet) {
    .hero {
        &__wrapper {
            align-self: center;
            height: 75%;
            justify-self: start;
            width: 60%;
        }

        &__title {
            &--highlight {
                font-size: 2.5em;
            }
        }
    }
}

@media (min-width: $breakpointDesktop) {
    .hero {
        &__wrapper {
            width: 50%;
        }

        &__title {
            &--highlight {
                font-size: 2.2em;
            }
        }
    }
}

@media (min-width: $breakpointDesktopLarge) {
    .hero {
        &__title {
            &--highlight {
                font-size: 2.5em;
            }
        }
    }
}

@media (min-width: $breakpointDesktopExtraLarge) {
    .hero {
        &__title {
            &--highlight {
                font-size: 3em;
            }
        }
    }
}
