.app__container {
    display: grid;
    grid-area: main;
    grid-row-gap: 2%;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 9% 3% 72% 8%;
    grid-template-areas:
    ". PageInfo ."
    ". voteTitle ."
    ". VoteRankSection ."
    ". Submit ."
}

.vote__title {
    margin: 0;
    font-size: 1.8em;
    grid-area: voteTitle;
    align-self: center;
}

@media (min-width: $breakpointMobile) {
    .app__container {
        grid-template-columns: 100%;
        grid-template-areas:
        "PageInfo"
        "voteTitle"
        "VoteRankSection"
        "Submit"
    }

    .vote__title {
        padding-left: 10%;
    }
}

@media (min-width: $breakpointTablet) {
    .app__container {
        grid-template-columns: 10% 80% 10%;
        grid-template-areas:
        ". PageInfo ."
        ". voteTitle ."
        ". VoteRankSection ."
        ". Submit ."
    }

    .vote__title {
        padding: 0;
    }
}
