.vote {
    &__section {
        display: grid;
        grid-area: VoteRankSection;
        grid-gap: 4%;
    }
}

@media (min-width: $breakpointMobile) {
    .vote {
        &__section {
            grid-row-gap: 2%;
            overflow-y: scroll;
        }
    }
}

@media (min-width: $breakpointTablet) {
    .vote {
        &__section {
            grid-gap: 4%;
            grid-template-columns: repeat(auto-fit, 48%);
            grid-template-rows: repeat(auto-fit, 48%);
            overflow: initial;
        }
    }
}
